<% #FIXME: 左寄せにしたい %>
<h1>このサイトについて</h1>
「寺社仏閣マップ」は、全国の寺社仏閣を Google Map 上に表示するサイトです。<br>
寺・神社の名称、又は地名で検索することができます。<br><br>
今後、以下のような機能の追加を追加する可能性があります。
<ul>
  <li>寺社仏閣データの拡充</li>
  <ul>
    <li>御朱印に関する情報(価格、窓口の営業時間等)</li>
    <li>寺格・社格情報の整備</li>
  </ul>
  <li>寺格・社格やご本尊などによる検索条件の追加</li>
</ul>
<% #FIXME: 左寄せにしたい %>
<h1>サービス運営者について</h1>
仕事の合間を縫って二人で作成しています。<br>
<% #FIXME: 2人のプロフィール的な。画像 + 紹介文? %>
<br>
<br>
何かご要望等ありましたら <%= link_to "Contact", contact_path %> よりご連絡下さい。
