<h1>個人情報保護方針</h1>
<h2>個人情報の利用目的</h2>
当サービス提供者は、利用者よりお預かりした個人情報（<%= link_to "Contact", contact_path %>に記載のメールアドレスに対し利用者がメールを送信した場合等）を適切に管理し、次のいずれかに該当する場合を除き、第三者に開示いたしません。<br>
<ul>
  <li>お客様の同意がある場合</li>
  <li>法令に基づき開示することが必要である場合</li>
</ul>

