<h1>個人情報保護方針</h1>
個人情報の利用目的<br>
当サービス提供者は、利用者よりお預かりした個人情報（<%= link_to "Contact", contact_path %>に記載のメールアドレスに対し利用者がメールを送信した場合等）を適切に管理し、次のいずれかに該当する場合を除き、第三者に開示いたしません。<br>
* お客様の同意がある場合<br>
* 法令に基づき開示することが必要である場合

