<footer class="footer">
  <small>
    御朱印マップ
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
